---

name: rust

on:
  pull_request:
    paths:
      - '.github/workflows/rust.yml'
      - 'rust-toolchain.toml'
      - 'Cargo.toml'
      - 'Cargo.lock'
      - '**.rs'
  push:
    branches:
      - main
      - wip/next
    paths:
      - '.github/workflows/rust.yml'
      - 'rust-toolchain.toml'
      - 'Cargo.toml'
      - 'Cargo.lock'
      - '**.rs'

env:
  CARGO_TERM_COLOR: always
  CARGO_TERM_VERBOSE: true

jobs:

  test:
    name: test
    runs-on: ubuntu-latest

    steps:

      - name: checkout
        uses: actions/checkout@v6

      - name: cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check

      - name: cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy

      - name: check formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

      - name: cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build

      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test

...
